{% extends 'base.html.twig' %}

{% block title %}Hello MissionController!{% endblock %}

{% block body %}
    <h1>Missions list - AIDSH</h1>
    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('create_mission') }}" class="btn btn-primary">Add a mission</a>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Completion Date</th>
            <th>Priority</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.name }}</td>
                <td>{{ mission.completionDate|date("m/d/Y") }}</td>
                <td>{{ mission.priority }}</td>
                <td>{{ mission.status }}</td>
                <td>
                    <a href="{{ path('mission_details', {'id': mission.id}) }}" class="btn btn-info">See more</a>
                    <a href="{{ path('mission_edit', {'id': mission.id}) }}" class="btn btn-secondary">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}